body{
    background-color: rgba(121, 120, 119, 0.301);
}
body h2{
    color: orange;
}
body p{
    font-size: 15px;
    font-family: roboto;
}
nav .container-fluid{
    background-color: rgba(250, 232, 153, 0.877);
    padding-top: 1rem;
    padding: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:1rem;
    
}
.contanier{
    background-color: white;
    padding: 1rem;
    margin-right: 50%;
    margin-left: 1rem;
    padding-bottom: 10rem;
    
    
}
.contanier-menor{
    background-color: rgba(252, 175, 175, 0.966);
    padding-left: 100%;
    padding-right: 10rem;
    padding-bottom: 12rem;
    margin-right: 10%;
    margin-left: 66%;
    margin-bottom: 5%;
        


}